/* Сброс стандартных отступов и бордеров */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общие стили для body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Стиль для шапки */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Логотип */
.logo {
    font-size: 1.5em;
}

/* Стили для навигации */
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
}

/* Ховер эффект для ссылок */
nav a:hover {
    color: #ff6600;
}

/* Стили для баннера */
.movie-banner {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 100px 20px;
    margin-top: 60px; /* Отступ для фиксированного меню */
}

/* Стиль для блока с деталями фильма */
.movie-details {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    margin-top: 20px;
}

/* Стили для обложки фильма */
.movie-poster img {
    height: 450px;
    width: auto;
    border-radius: 8px;
    margin-right: auto;
}

/* Стили для информации о фильме */
.movie-info {
    max-width: 600px;
    padding-right: 20px;
}

.movie-info h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #333;
}

.movie-info p {
    font-size: 1em;
    margin: 15px 0;
    color: #666;
}

/* Стили для видео */
.videoo {
    width: 800px;
    height: 500px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 0px;
}


.video {
    font-size: 100%;
    padding: 0;
    font-family: Tahoma,verdana,sans-serif;
    list-style-type: none;
    margin: 430px 1200px;
    outline: 0;
    border: 0;
    color: #a8a8a8;
    position: absolute;
    top: 0;
    left: 0;
    height: 30%;
    width: 30%;

}

/* Стили для футера */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    margin-top: 50px;
}
